.frm {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.frm div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: green solid 2px;
}

.frm input {
  width: 30%;
  height: 20px;
  text-align: center;
  margin-right: 12px;
}

.frm select {
  background-color: #fff;
  border: gray solid 1px;
  width: 30%;
  height: 25px;
}

.info-wrapper {
  min-height: 200px;
  width: 80%;
}

.book-list-wrapper .info {
  margin: 0 8px;
}

.book-list-wrapper h3 {
  width: 80%;
  margin: 12px 0;
  color: gray;
}

form.frm button {
  width: 200px;
  height: 30px;
  margin-left: 12px;
  background-color: #0290ff;
}
