body {
    background-color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
    height: 95vh;
    display: flex;
    flex-direction: column;
}

button {
    color: #fff;
    padding: 7px 20px;
    background-color: rgb(32, 190, 243);
    border-radius: 5px;
    font-weight: 600;
    border: 0;
}

